body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

header img {
  width: 65px;
  height: 65px;
  padding: 10px;
  margin: auto;
  margin-left: 10px;
}

header {
  padding: 5px;
  border-bottom: 3px solid #CAE9FF;
  background-image: linear-gradient( 178.4deg,  rgba(77,88,105,1) 4.8%, rgba(39,43,57,1) 86.7% );
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: auto;
  margin-left: 0px;
  color: #d5e8ef;
  font-size: 30px;
}

header nav {
  position: relative;
  width: 30px;
  right: 20px;
  top: 4px;
}

header nav .navshort {
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header nav .navshort span {
  background-color: #d5e8ef;
  margin-bottom: 5px;
  height: 2.5px;
}

header nav .navshort span:first-child {
  width: 100%;
}

header nav .navshort span:nth-child(2) {
  width: 60%;
  transition: 0.5s;
}

header nav:hover .navshort span:nth-child(2) {
  width: 100%;
}

header nav .navshort span:last-child {
  width: 100%;
}

header nav ul {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient( 178.4deg,  rgba(77,88,105,1) 4.8%, rgba(39,43,57,1) 86.7% );
  right: 0;
  width: 150px;
  top: 35px;
  z-index: 100;
  border-right: 3px solid #15559f;
}

header nav ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #d5e8ef transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

header nav:hover ul {
  display: block;
}

header nav ul li:not(:last-child) a {
  border-bottom: 1px solid #d5e8ef;
}

header nav ul li {
  list-style: none;
  text-align: center;
}

header nav ul li a {
  color: #d5e8ef;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 15px;
  transition: 0.5s;
}

header nav ul li a:hover {
  padding-left: 20px;
}

.img_sect {
  margin-top: -10px;
  width: 100%;
  position: relative;
  z-index: 2;
}

main {
  position: relative;
  display: flex;
  margin-top: -70px;
  text-align: center;
  color: #c5d7dd;
  justify-content: space-evenly;
  z-index: 1;
  flex-wrap: wrap;
}

.sect img {
  height: 250px;
  width: 400px;
}

.sect {
  background-image: linear-gradient( 178.4deg,  rgba(77,88,105,1) 4.8%, rgba(39,43,57,1) 86.7% );
  width: 400px;
  height: 500px;
  box-shadow: 0px 0px 10px #1a4757;
  margin: 10px;
  border-bottom: 4px solid #15559f;
}

.sect p {
  padding: 4px;
  line-height: 1.6;
}

footer {
  color:white;
  height: 200px;
  width: 100%;
  text-align: center;
  display: grid;
  background-image: linear-gradient( 178.4deg,  rgb(53, 58, 67) 4.8%, rgb(0, 0, 0) 86.7% );
  margin-top: 40px;
  border-top: 4px solid black;
}

footer div a img {
  height: 40px;
  width: 40px;
  transition-duration: .2s;
  transition-delay: 50ms;
}

footer div a {
  margin-top: -50px;
}

footer div a:not(:first-child) {
  padding-left: 50px;
}

footer div a img:hover {
  transform: translate3d(0px,-10px,50px);
}

footer h4 span {
  color: cornflowerblue;
  font-size: 20px;
}

@media (max-width: 768px) {
  header img {
    width: 50px;
    height: 50px;
  }

  header h1 {
    font-size: 25px;
  }

  header nav {
    right: 10px;
    top: 2px;
  }

  header nav .navshort span {
    margin-bottom: 3px;
    height: 2px;
  }

  header nav .navshort span:nth-child(2) {
    width: 50%;
  }

  header nav ul {
    width: 120px;
    top: 30px;
  }

  header nav ul::before {
    right: 3px;
    top: -15px;
  }

  header nav ul li a {
    font-size: 18px;
    padding: 12px;
  }

  main {
    margin-top: -48px;
  }

  .img_sect {
    margin-top: 0px;
  }

  .sect img {
    height: 200px;
    width: 360px;
  }

  .sect {
    width: 360px;
    height: 460px;
    margin: 14px
  }

  footer div a img {
    height: 30px;
    width: 30px;
  }

  footer div a:not(:first-child) {
    padding-left: 30px;
  }

  footer h4 span {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  header img {
    width: 40px;
    height: 40px;
  }

  header h1 {
    font-size: 20px;
  }

  header nav {
    right: -2px;
    top: 1px;
  }

  header nav .navshort {
    width: 25px;
    height: 25px;
  }

  header nav .navshort span {
    margin-bottom: 2px;
    height: 1.5px;
  }

  header nav .navshort span:nth-child(2) {
    width: 40%;
  }

  header nav ul {
    width: 100px;
    top: 38px;
  }

  header nav ul::before {
    right: 2px;
    top: -22px;
  }

  header nav ul li a {
    font-size: 16px;
    padding: 10px;
  }

  main {
    margin-top: -27px;
  }

  .img_sect {
    margin-top: 0px;
  }

  .sect img {
    height: 185px;
    width: 330px;
  }

  .sect {
    width: 330px;
    height: 465px;
    margin: 6px;
  }

  footer div a img {
    height: 25px;
    width: 25px;
  }

  footer div a:not(:first-child) {
    padding-left: 25px;
  }

  footer h4 span {
    font-size: 16px;
  }
}

@media (max-width: 320px)
{
  .sect {
    width: 250px;
    height: 465px;
    overflow: hidden;
  }

  .sect img {
    height: 185px;
    width: 250px;
  }

  footer h3 {
    font-size: 18px;
  }

  footer h4 {
    font-size: 13px;
  }
}