body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

header img {
  width: 65px;
  height: 65px;
  padding: 10px;
  margin: auto;
  margin-left: 10px;
}

header {
  padding: 5px;
  border-bottom: 3px solid #CAE9FF;
  background-image: linear-gradient(178.4deg, rgba(77, 88, 105, 1) 4.8%, rgba(39, 43, 57, 1) 86.7%);
  margin-bottom: 20px;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: auto;
  margin-left: 0px;
  color: #d5e8ef;
  font-size: 30px;
}

header nav {
  position: relative;
  width: 30px;
  right: 20px;
  top: 4px;
}

header nav .navshort {
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header nav .navshort span {
  background-color: #d5e8ef;
  margin-bottom: 5px;
  height: 2.5px;
}

header nav .navshort span:first-child {
  width: 100%;
}

header nav .navshort span:nth-child(2) {
  width: 60%;
  transition: 0.5s;
}

header nav:hover .navshort span:nth-child(2) {
  width: 100%;
}

header nav .navshort span:last-child {
  width: 100%;
}

header nav ul {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(178.4deg, rgba(77, 88, 105, 1) 4.8%, rgba(39, 43, 57, 1) 86.7%);
  right: 0;
  width: 150px;
  top: 35px;
  z-index: 100;
  border-right: 3px solid #15559f;
}

header nav ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #d5e8ef transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

header nav:hover ul {
  display: block;
}

header nav ul li:not(:last-child) a {
  border-bottom: 1px solid #d5e8ef;
}

header nav ul li {
  list-style: none;
  text-align: center;
}

header nav ul li a {
  color: #d5e8ef;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 15px;
  transition: 0.5s;
}

header nav ul li a:hover {
  padding-left: 20px;
}

main {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 450px;
  margin: auto;
  top: 35px;
}

.card {
  position: absolute;
  width: 100%;
  height: 400px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.Acontainer {
  position: absolute;
  background: linear-gradient(178.4deg, rgb(53, 58, 67) 4.8%, rgb(0, 0, 0) 86.7%);
  border-radius: 4px;
  padding: 15px 20px;
  width: 100%;
  height: 400px;
  text-align: center;
  backface-visibility: hidden;
  transition: all 0.5s ease;
  line-height: 1.6;
}

.form-container {
  position: absolute;
  width: 100%;
  height: 400px;
  background: linear-gradient(178.4deg, rgb(53, 58, 67) 4.8%, rgb(0, 0, 0) 86.7%);
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.form2 {
  padding: 75px 10px;
}

h2 {
  color: white;
  text-align: center;
}

p {
  color: white;
  line-height: 1.5;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1c4f8a;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 4px;
}

.btn:hover,
form button[type="submit"]:hover,
form button[type="button"]:hover {
  background-color: #4c83c2;
}

.form-container {
  display: none;
}

form input[type="text"] {
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
}

form input[type="email"],
form input[type="password"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
}

form input[type="email"]::placeholder,
form input[type="password"]::placeholder,
form input[type="text"]::placeholder {
  color: #9ab3c5;
}

form button[type="submit"],
form button[type="button"] {
  display: inline-block;
  width: 40%;
  padding: 10px;
  background-color: #1c4f8a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

footer {
  color: white;
  height: 200px;
  width: 100%;
  text-align: center;
  display: grid;
  background-image: linear-gradient( 178.4deg,  rgb(53, 58, 67) 4.8%, rgb(0, 0, 0) 86.7% );
  margin-top: 40px;
  border-top: 4px solid black;
}

footer div a img {
  height: 40px;
  width: 40px;
  transition-duration: .2s;
  transition-delay: 50ms;
}

footer div a {
  margin-top: -50px;
}

footer div a:not(:first-child) {
  padding-left: 50px;
}

footer div a img:hover {
  transform: translate3d(0px,-10px,50px);
}

footer h4 span {
  color: cornflowerblue;
  font-size: 20px;
}

@media (max-width: 768px) {
  header img {
    width: 50px;
    height: 50px;
  }

  header h1 {
    font-size: 25px;
  }

  header nav {
    right: 10px;
    top: 2px;
  }

  header nav .navshort span {
    margin-bottom: 3px;
    height: 2px;
  }

  header nav .navshort span:nth-child(2) {
    width: 50%;
  }

  header nav ul {
    width: 120px;
    top: 30px;
  }

  header nav ul::before {
    right: 3px;
    top: -15px;
  }

  header nav ul li a {
    font-size: 18px;
    padding: 12px;
  }
  
  main {
    top: 50px;
    max-width: 390px;
    height: 465px;
  }

  .Acontainer {
    height: 370px;
  }

  .form-container {
    padding: 0px 10px;
    height: 370px;
  }

  .Acontainer .p2 {
    display: none;
  }

  .form2 {
    padding: 60px 10px;
  }

  footer div a img {
    height: 30px;
    width: 30px;
  }

  footer div a:not(:first-child) {
    padding-left: 30px;
  }

  footer h4 span {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  header img {
    width: 40px;
    height: 40px;
  }

  header h1 {
    font-size: 20px;
  }

  header nav {
    right: -2px;
    top: 1px;
  }

  header nav .navshort {
    width: 25px;
    height: 25px;
  }

  header nav .navshort span {
    margin-bottom: 2px;
    height: 1.5px;
  }

  header nav .navshort span:nth-child(2) {
    width: 40%;
  }

  header nav ul {
    width: 110px;
    top: 38px;
  }

  header nav ul::before {
    right: 2px;
    top: -22px;
  }

  header nav ul li a {
    font-size: 16px;
    padding: 10px;
  }

  main {
    top: 18px;
    max-width: 359px;
    height: 451px;
    padding: 20px;
  }
  
  .card {
    height: auto;
  }
  
  .Acontainer {
    height: 380px;
    padding: 10px;
    width: 320px;
  }

  .form-container {
    height: 380px;
    padding: 0px 10px;
    width: 320px;
  }

  .form2 {
    padding: 80px 10px;
  } 
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    margin-bottom: 15px;
  }

  footer div a img {
    height: 25px;
    width: 25px;
  }

  footer div a:not(:first-child) {
    padding-left: 25px;
  }

  footer h4 span {
    font-size: 16px;
  }
}